.page {
  background-color: rgba(245, 247, 250, 1);
  position: relative;
  width: 100vw;
  height: 213.34vw;
  overflow: hidden;
}

.image_1 {
  width: 100vw;
  height: 33.34vw;
}

.group_1 {
  background-color: rgba(245, 247, 250, 1);
  border-radius: 24px 24px 0px 0px;
  position: absolute;
  left: 0;
  top: 23.62vw;
  width: 100vw;
  height: 189.73vw;
}

.group_16 {
  position: relative;
  width: 100vw;
  height: 176.67vw;
}

.section_7 {
  width: 77.78vw;
  height: 5.28vw;
  margin: 4.44vw 0 0 12.22vw;
}

.image-text_12 {
  width: 13.89vw;
  height: 5.28vw;
}

.text-group_1 {
  width: 8.06vw;
  height: 5.28vw;
  overflow-wrap: break-word;
  color: rgba(0, 95, 249, 1);
  font-size: 3.88vw;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 3.89vw;
}

.thumbnail_1 {
  width: 2.23vw;
  height: 2.23vw;
  margin-top: 1.39vw;
}

.image-text_13 {
  width: 11.39vw;
  height: 5.28vw;
  margin-left: 6.95vw;
}

.text-group_2 {
  width: 8.06vw;
  height: 5.28vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 3.88vw;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 3.89vw;
}

.thumbnail_2 {
  width: 2.23vw;
  height: 2.23vw;
  margin-top: 1.39vw;
}

.image-text_14 {
  width: 11.39vw;
  height: 5.28vw;
  margin-left: 11.39vw;
}

.text-group_3 {
  width: 8.06vw;
  height: 5.28vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 3.88vw;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 3.89vw;
}

.thumbnail_3 {
  width: 2.23vw;
  height: 2.23vw;
  margin-top: 1.39vw;
}

.image-text_15 {
  width: 11.39vw;
  height: 5.28vw;
  margin-left: 11.39vw;
}

.text-group_4 {
  width: 8.06vw;
  height: 5.28vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 3.88vw;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 3.89vw;
}

.thumbnail_4 {
  width: 2.23vw;
  height: 2.23vw;
  margin-top: 1.39vw;
}

.section_8 {
  width: 91.12vw;
  height: 143.34vw;
  margin: 5vw 0 0 4.44vw;
}

.block_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 91.12vw;
  height: 46.67vw;
}

.group_17 {
  width: 84.45vw;
  height: 10.56vw;
  margin: 4.16vw 0 0 3.33vw;
}

.text_1 {
  width: 2.78vw;
  height: 6.12vw;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 4.44vw;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.45vw;
  margin-top: 3.62vw;
}

.text_2 {
  width: 18.89vw;
  height: 10.56vw;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 7.77vw;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 7.78vw;
  margin-left: 0.56vw;
}

.block_3 {
  background-color: rgba(255, 246, 246, 1);
  border-radius: 6px;
  width: 20vw;
  height: 7.78vw;
  margin: 1.38vw 0 0 3.33vw;
}

.image-text_16 {
  width: 16.67vw;
  height: 5.56vw;
  margin: 1.11vw 0 0 1.66vw;
}

.thumbnail_5 {
  width: 5.56vw;
  height: 5.56vw;
}

.text-group_5 {
  width: 10vw;
  height: 4.45vw;
  overflow-wrap: break-word;
  color: rgba(93, 96, 102, 1);
  font-size: 3.33vw;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.34vw;
  margin-top: 0.56vw;
}

.text-wrapper_1 {
  background-color: rgba(0, 95, 249, 1);
  border-radius: 8px;
  height: 10vw;
  width: 25vw;
  margin: 0.27vw 0 0 13.88vw;
}

.text_3 {
  width: 8.34vw;
  height: 6.12vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 4.44vw;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 4.45vw;
  margin: 1.94vw 0 0 8.33vw;
}

.section_2 {
  background-color: rgba(245, 247, 250, 1);
  border-radius: 8px;
  width: 84.45vw;
  height: 15.56vw;
  margin: 3.05vw 0 0 3.33vw;
}

.text_4 {
  width: 9.17vw;
  height: 5.28vw;
  overflow-wrap: break-word;
  color: rgba(147, 149, 153, 1);
  font-size: 3.88vw;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.89vw;
  margin: 5vw 0 0 3.33vw;
}

.text_5 {
  width: 22.5vw;
  height: 5.28vw;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 3.88vw;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.89vw;
  margin: 5vw 0 0 1.11vw;
}

.block_4 {
  height: 8.89vw;
  background: url(./img/FigmaDDSSlicePNG7ea946261502222f67e780d7e7b55778.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 8.89vw;
  margin: 3.33vw 16.66vw 0 22.77vw;
}

.box_1 {
  height: 8.89vw;
  background: url(./img/FigmaDDSSlicePNG32627b3ca5f027fe5574d2da4ca8d456.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 8.89vw;
}

.text-wrapper_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  height: 8.89vw;
  border: 1px solid rgba(245, 247, 250, 1);
  width: 8.89vw;
}

.text_6 {
  width: 4.45vw;
  height: 5.28vw;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 3.88vw;
  font-family: Noto Sans-Display Medium;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.89vw;
  margin: 1.94vw 0 0 2.22vw;
}

.group_18 {
  width: 84.45vw;
  height: 5.56vw;
  margin: 3.33vw 0 4.44vw 3.33vw;
}

.image-text_17 {
  width: 34.17vw;
  height: 5.56vw;
}

.thumbnail_6 {
  width: 5.56vw;
  height: 5.56vw;
}

.text-group_6 {
  width: 27.5vw;
  height: 4.45vw;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 3.33vw;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.34vw;
  margin-top: 0.56vw;
}

.text-wrapper_3 {
  background-color: rgba(255, 235, 240, 1);
  border-radius: 50%;
  height: 5.56vw;
  margin-left: 26.95vw;
  width: 5.56vw;
}

.text_7 {
  width: 2.78vw;
  height: 5.28vw;
  overflow-wrap: break-word;
  color: rgba(255, 45, 97, 1);
  font-size: 3.88vw;
  font-family: Noto Sans-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 3.89vw;
  margin-left: 1.39vw;
}

.text_8 {
  width: 16.67vw;
  height: 4.45vw;
  overflow-wrap: break-word;
  color: rgba(147, 149, 153, 1);
  font-size: 3.33vw;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.34vw;
  margin: 0.55vw 0 0 1.11vw;
}

.block_5 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 91.12vw;
  height: 46.67vw;
  margin-top: 1.67vw;
}

.box_9 {
  width: 84.45vw;
  height: 10.56vw;
  margin: 4.16vw 0 0 3.33vw;
}

.text_9 {
  width: 2.78vw;
  height: 6.12vw;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 4.44vw;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.45vw;
  margin-top: 3.62vw;
}

.text_10 {
  width: 18.89vw;
  height: 10.56vw;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 7.77vw;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 7.78vw;
  margin-left: 0.56vw;
}

.box_3 {
  background-color: rgba(255, 250, 240, 1);
  border-radius: 6px;
  position: relative;
  width: 20vw;
  height: 7.78vw;
  margin: 1.38vw 0 0 3.05vw;
}

.thumbnail_7 {
  width: 4.73vw;
  height: 4.73vw;
  margin: 1.66vw 0 0 2.22vw;
}

.text_11 {
  width: 10vw;
  height: 4.45vw;
  overflow-wrap: break-word;
  color: rgba(93, 96, 102, 1);
  font-size: 3.33vw;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.34vw;
  margin: 1.66vw 1.66vw 0 1.38vw;
}

.group_4 {
  height: 5.56vw;
  background: url(./img/766b5aed9b2f49aa8c28a1f81902fd35_mergeImage.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 5.56vw;
  position: absolute;
  left: 1.67vw;
  top: 1.12vw;
}

.group_5 {
  background-color: rgba(243, 186, 47, 1);
  width: 2.78vw;
  height: 1.95vw;
  margin: 3.33vw 0 0 1.66vw;
}

.text-wrapper_4 {
  background-color: rgba(0, 95, 249, 1);
  border-radius: 8px;
  height: 10vw;
  width: 25vw;
  margin: 0.27vw 0 0 14.16vw;
}

.text_12 {
  width: 8.34vw;
  height: 6.12vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 4.44vw;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 4.45vw;
  margin: 1.94vw 0 0 8.33vw;
}

.box_4 {
  background-color: rgba(245, 247, 250, 1);
  border-radius: 8px;
  width: 84.45vw;
  height: 15.56vw;
  margin: 3.05vw 0 0 3.33vw;
}

.text_13 {
  width: 9.17vw;
  height: 5.28vw;
  overflow-wrap: break-word;
  color: rgba(147, 149, 153, 1);
  font-size: 3.88vw;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.89vw;
  margin: 5vw 0 0 3.33vw;
}

.text_14 {
  width: 22.5vw;
  height: 5.28vw;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 3.88vw;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.89vw;
  margin: 5vw 0 0 1.11vw;
}

.image-wrapper_1 {
  height: 8.89vw;
  background: url(./img/FigmaDDSSlicePNG7ea946261502222f67e780d7e7b55778.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 8.89vw;
  margin: 3.33vw 10vw 0 29.44vw;
}

.label_1 {
  width: 8.89vw;
  height: 8.89vw;
}

.box_10 {
  width: 84.45vw;
  height: 5.56vw;
  margin: 3.33vw 0 4.44vw 3.33vw;
}

.image-text_18 {
  width: 34.17vw;
  height: 5.56vw;
}

.thumbnail_8 {
  width: 5.56vw;
  height: 5.56vw;
}

.text-group_7 {
  width: 27.5vw;
  height: 4.45vw;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 3.33vw;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.34vw;
  margin-top: 0.56vw;
}

.text-wrapper_5 {
  background-color: rgba(232, 248, 255, 1);
  border-radius: 50%;
  height: 5.56vw;
  margin-left: 26.67vw;
  width: 5.56vw;
}

.text_15 {
  width: 2.78vw;
  height: 5.28vw;
  overflow-wrap: break-word;
  color: rgba(44, 192, 255, 1);
  font-size: 3.88vw;
  font-family: Noto Sans-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 3.89vw;
  margin-left: 1.39vw;
}

.text_16 {
  width: 16.95vw;
  height: 4.45vw;
  overflow-wrap: break-word;
  color: rgba(147, 149, 153, 1);
  font-size: 3.33vw;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.34vw;
  margin: 0.55vw 0 0 1.11vw;
}

.block_6 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 91.12vw;
  height: 46.67vw;
  margin-top: 1.67vw;
}

.block_8 {
  width: 84.45vw;
  height: 10.56vw;
  margin: 4.72vw 0 0 3.33vw;
}

.text_17 {
  width: 2.78vw;
  height: 6.12vw;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 4.44vw;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.45vw;
  margin-top: 3.62vw;
}

.text_18 {
  width: 18.89vw;
  height: 10.56vw;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 7.77vw;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 7.78vw;
  margin-left: 0.56vw;
}

.box_6 {
  background-color: rgba(240, 243, 255, 1);
  border-radius: 6px;
  position: relative;
  width: 20vw;
  height: 7.78vw;
  margin: 1.38vw 0 0 3.33vw;
}

.thumbnail_9 {
  width: 2.78vw;
  height: 4.17vw;
  margin: 1.94vw 0 0 3.33vw;
}

.text_19 {
  width: 10vw;
  height: 4.45vw;
  overflow-wrap: break-word;
  color: rgba(93, 96, 102, 1);
  font-size: 3.33vw;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.34vw;
  margin: 1.66vw 1.66vw 0 2.22vw;
}

.group_7 {
  position: absolute;
  left: 1.67vw;
  top: 1.12vw;
  width: 5.56vw;
  height: 5.56vw;
  background: url(./img/8742ebf242af4422b1722ee5e2d4462e_mergeImage.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.section_4 {
  background-color: rgba(193, 204, 247, 1);
  height: 3.06vw;
  width: 2.78vw;
  margin: 0.83vw 0 0 1.66vw;
}

.group_8 {
  background-color: rgba(129, 152, 238, 1);
  width: 1.39vw;
  height: 1.39vw;
  margin: 1.66vw 0 0 1.38vw;
}

.section_5 {
  background-color: rgba(255, 255, 255, 1);
  width: 1.39vw;
  height: 1.95vw;
  margin: -0.55vw 0 0.27vw 1.66vw;
}

.section_6 {
  background-color: rgba(193, 204, 247, 1);
  position: absolute;
  left: 3.06vw;
  top: 3.34vw;
  width: 1.39vw;
  height: 1.95vw;
}

.text-wrapper_6 {
  background-color: rgba(0, 95, 249, 1);
  border-radius: 8px;
  height: 10vw;
  width: 25vw;
  margin: 0.27vw 0 0 13.88vw;
}

.text_20 {
  width: 8.34vw;
  height: 6.12vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 4.44vw;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 4.45vw;
  margin: 1.94vw 0 0 8.33vw;
}

.group_9 {
  background-color: rgba(245, 247, 250, 1);
  border-radius: 8px;
  width: 84.45vw;
  height: 15.56vw;
  justify-content: flex-center;
  margin: 3.05vw 0 0 3.33vw;
}

.text_21 {
  width: 9.17vw;
  height: 5.28vw;
  overflow-wrap: break-word;
  color: rgba(147, 149, 153, 1);
  font-size: 3.88vw;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.89vw;
  margin: 5vw 0 0 3.33vw;
}

.text_22 {
  width: 22.5vw;
  height: 5.28vw;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 3.88vw;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.89vw;
  margin: 5vw 0 0 1.11vw;
}

.label_2 {
  width: 8.89vw;
  height: 8.89vw;
  margin: 3.33vw 3.33vw 0 36.11vw;
}

.block_9 {
  width: 84.45vw;
  height: 5.56vw;
  margin: 3.33vw 0 3.88vw 3.33vw;
}

.image-text_19 {
  width: 34.17vw;
  height: 5.56vw;
}

.thumbnail_10 {
  width: 5.56vw;
  height: 5.56vw;
}

.text-group_8 {
  width: 27.5vw;
  height: 4.45vw;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 3.33vw;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.34vw;
  margin-top: 0.56vw;
}

.text-wrapper_7 {
  background-color: rgba(244, 235, 255, 1);
  border-radius: 50%;
  height: 5.56vw;
  margin-left: 28.62vw;
  width: 5.56vw;
}

.text_23 {
  width: 3.89vw;
  height: 5.28vw;
  overflow-wrap: break-word;
  color: rgba(137, 45, 255, 1);
  font-size: 3.88vw;
  font-family: Noto Sans-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 3.89vw;
  margin-left: 0.84vw;
}

.text_24 {
  width: 15vw;
  height: 4.17vw;
  overflow-wrap: break-word;
  color: rgba(147, 149, 153, 1);
  font-size: 3.33vw;
  font-family: Inter-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.34vw;
  margin: 0.55vw 0 0 1.11vw;
}

.text_25 {
  width: 20.28vw;
  height: 4.45vw;
  overflow-wrap: break-word;
  color: rgba(147, 149, 153, 1);
  font-size: 3.33vw;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 3.34vw;
  margin: 7.22vw 0 6.94vw 40vw;
}

.group_11 {
  position: absolute;
  left: 0;
  top: -23.61vw;
  width: 100vw;
  height: 6.95vw;
  justify-content: flex-center;
}

.text_26 {
  width: 8.06vw;
  height: 5.56vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 3.88vw;
  letter-spacing: 1px;
  font-family: Roboto-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 5.56vw;
  margin: 0.83vw 0 0 6.66vw;
}

.thumbnail_11 {
  width: 4.73vw;
  height: 4.73vw;
  margin: 1.11vw 0 0 65.83vw;
}

.image_2 {
  width: 7.5vw;
  height: 4.73vw;
  margin: 1.11vw 6.66vw 0 0.55vw;
}

.group_12 {
  height: 13.34vw;
  width: 100vw;
  position: absolute;
  left: 0;
  top: -16.66vw;
}

.group_19 {
  width: 90vw;
  height: 7.5vw;
  margin: 2.77vw 0 0 4.44vw;
}

.text_27 {
  width: 10.28vw;
  height: 7.5vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 5.55vw;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 5.56vw;
}

.text_28 {
  width: 7.5vw;
  height: 6.12vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 0.35);
  font-size: 4.44vw;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.45vw;
  margin: 0.83vw 0 0 11.66vw;
}

.text-wrapper_8 {
  background-color: rgba(217, 232, 255, 1);
  border-radius: 4px;
  height: 5.56vw;
  width: 20.28vw;
  margin: 1.11vw 0 0 1.11vw;
}

.text_29 {
  width: 18.06vw;
  height: 3.89vw;
  overflow-wrap: break-word;
  color: rgba(60, 124, 221, 1);
  font-size: 2.77vw;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.78vw;
  margin: 0.55vw 0 0 1.11vw;
}

.box_7 {
  height: 6.67vw;
  background: url(./img/FigmaDDSSlicePNG17e66994a937d175597d0f882d4921d3.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 6.67vw;
  margin: 0.55vw 0 0 32.5vw;
}

.box_8 {
  background-color: rgba(223, 54, 54, 1);
  border-radius: 12px;
  width: 4.45vw;
  height: 3.34vw;
  margin: -0.83vw 0 0 3.33vw;
}

.group_20 {
  width: 10.84vw;
  height: 0.56vw;
  margin: 2.5vw 0 0 4.44vw;
}

.group_15 {
  background-color: rgba(255, 255, 255, 1);
  width: 10.84vw;
  height: 0.56vw;
}

.text_30 {
  position: absolute;
  left: 91.67vw;
  top: 2.23vw;
  width: 3.34vw;
  height: 3.89vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 2.77vw;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.78vw;
}

.block_7 {
  background-color: rgba(255, 255, 255, 1);
  width: 100vw;
  height: 13.34vw;
  border: 0.5px solid rgba(228, 230, 235, 1);
  margin: 176.38vw 0 0 -100vw;
}

.image-text_20 {
  width: 6.95vw;
  height: 11.67vw;
  margin: 0.83vw 0 0 13.33vw;
}

.label_3 {
  width: 6.67vw;
  height: 6.67vw;
  margin-left: 0.28vw;
}

.text-group_9 {
  width: 6.95vw;
  height: 4.45vw;
  overflow-wrap: break-word;
  color: rgba(0, 95, 249, 1);
  font-size: 3.33vw;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 3.34vw;
  margin-top: 0.56vw;
}

.image-text_21 {
  width: 6.95vw;
  height: 11.67vw;
  margin: 0.83vw 0 0 26.38vw;
}

.label_4 {
  width: 6.67vw;
  height: 6.67vw;
  margin-left: 0.28vw;
}

.text-group_10 {
  width: 6.95vw;
  height: 4.45vw;
  overflow-wrap: break-word;
  color: rgba(171, 174, 178, 1);
  font-size: 3.33vw;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 3.34vw;
  margin-top: 0.56vw;
}

.image-text_22 {
  width: 6.95vw;
  height: 11.67vw;
  margin: 0.83vw 13.05vw 0 26.38vw;
}

.label_5 {
  width: 6.67vw;
  height: 6.67vw;
  margin-left: 0.28vw;
}

.text-group_11 {
  width: 6.95vw;
  height: 4.45vw;
  overflow-wrap: break-word;
  color: rgba(171, 174, 178, 1);
  font-size: 3.33vw;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 3.34vw;
  margin-top: 0.56vw;
}
