.page {
  background-color: rgba(245, 247, 250, 1);
  position: relative;
  width: 360px;
  height: 1173px;
  overflow: hidden;
}

.group_1 {
  background-image: linear-gradient(
    180deg,
    rgba(215, 231, 255, 1) 0,
    rgba(245, 247, 250, 1) 100%
  );
  width: 360px;
  height: 160px;
}

.section_4 {
  width: 312px;
  height: 20px;
  margin: 3px 0 0 24px;
}

.text_1 {
  width: 29px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  letter-spacing: 1px;
  font-family: Roboto-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.thumbnail_1 {
  width: 17px;
  height: 17px;
  margin: 1px 0 0 237px;
}

.image_1 {
  width: 27px;
  height: 17px;
  margin: 1px 0 0 2px;
}

.block_2 {
  height: 48px;
  width: 360px;
  margin: 2px 0 87px 0;
}

.text-wrapper_10 {
  width: 246px;
  height: 23px;
  margin: 12px 0 0 58px;
}

.text_2 {
  width: 65px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(0, 95, 249, 1);
  font-size: 16px;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 16px;
}

.text_3 {
  width: 84px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(147, 149, 153, 1);
  font-size: 16px;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 16px;
  margin-top: 1px;
}

.block_9 {
  width: 89px;
  height: 2px;
  margin: 11px 0 0 46px;
}

.box_1 {
  background-color: rgba(0, 95, 249, 1);
  width: 89px;
  height: 2px;
}

.group_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 328px;
  height: 238px;
  justify-content: flex-center;
  margin: 171px 0 0 16px;
}

.box_6 {
  width: 304px;
  height: 28px;
  margin: 16px 0 0 12px;
}

.text_4 {
  width: 108px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(147, 149, 153, 1);
  font-size: 12px;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 12px;
  margin-top: 6px;
}

.text-wrapper_2 {
  background-color: rgba(233, 241, 255, 1);
  border-radius: 6px;
  height: 28px;
  width: 187px;
}

.text_5 {
  width: 171px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(0, 95, 249, 1);
  font-size: 14px;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 4px 0 0 8px;
}

.box_7 {
  width: 304px;
  height: 90px;
  margin: 32px 0 0 12px;
}

.text-wrapper_11 {
  width: 57px;
  height: 87px;
  margin-top: 2px;
}

.text_6 {
  width: 29px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(93, 96, 102, 1);
  font-size: 14px;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
}

.text_7 {
  width: 29px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(93, 96, 102, 1);
  font-size: 14px;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 15px;
}

.text_8 {
  width: 57px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(93, 96, 102, 1);
  font-size: 14px;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 15px;
}

.text-group_13 {
  width: 96px;
  height: 90px;
}

.text_9 {
  width: 74px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 16px;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 16px;
  margin-left: 22px;
}

.text_10 {
  width: 58px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 16px;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 16px;
  margin: 12px 0 0 38px;
}

.text_11 {
  width: 96px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 16px;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 16px;
  margin-top: 12px;
}

.block_5 {
  background-color: rgba(244, 248, 255, 1);
  border-radius: 8px;
  width: 304px;
  height: 44px;
  margin: 12px 0 16px 12px;
}

.image-text_9 {
  width: 176px;
  height: 22px;
  margin: 11px 0 0 64px;
}

.text-group_2 {
  width: 148px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 16px;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 16px;
}

.thumbnail_2 {
  width: 20px;
  height: 20px;
  margin-top: 1px;
}

.group_4 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 328px;
  height: 238px;
  justify-content: flex-center;
  margin: 8px 0 0 16px;
}

.box_8 {
  width: 304px;
  height: 28px;
  margin: 16px 0 0 12px;
}

.text_12 {
  width: 108px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(147, 149, 153, 1);
  font-size: 12px;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 12px;
  margin-top: 6px;
}

.box_3 {
  background-color: rgba(245, 144, 51, 1);
  border-radius: 6px;
  width: 117px;
  height: 28px;
}

.image-text_10 {
  width: 101px;
  height: 19px;
  margin: 4px 0 0 8px;
}

.text-group_3 {
  width: 81px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
}

.thumbnail_3 {
  width: 16px;
  height: 16px;
  margin-top: 2px;
}

.box_9 {
  width: 304px;
  height: 90px;
  margin: 32px 0 0 12px;
}

.text-wrapper_12 {
  width: 57px;
  height: 87px;
  margin-top: 2px;
}

.text_13 {
  width: 29px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(93, 96, 102, 1);
  font-size: 14px;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
}

.text_14 {
  width: 29px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(93, 96, 102, 1);
  font-size: 14px;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 15px;
}

.text_15 {
  width: 57px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(93, 96, 102, 1);
  font-size: 14px;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 15px;
}

.text-group_14 {
  width: 96px;
  height: 90px;
}

.text_16 {
  width: 74px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 16px;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 16px;
  margin-left: 22px;
}

.text_17 {
  width: 58px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 16px;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 16px;
  margin: 12px 0 0 38px;
}

.text_18 {
  width: 96px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 16px;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 16px;
  margin-top: 12px;
}

.box_5 {
  background-color: rgba(244, 248, 255, 1);
  border-radius: 8px;
  width: 304px;
  height: 44px;
  margin: 12px 0 16px 12px;
}

.image-text_11 {
  width: 176px;
  height: 22px;
  margin: 11px 0 0 64px;
}

.text-group_5 {
  width: 148px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 16px;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 16px;
}

.thumbnail_4 {
  width: 20px;
  height: 20px;
  margin-top: 1px;
}

.group_5 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 328px;
  height: 238px;
  justify-content: flex-center;
  margin: 8px 0 0 16px;
}

.group_8 {
  width: 304px;
  height: 28px;
  margin: 16px 0 0 12px;
}

.text_19 {
  width: 108px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(147, 149, 153, 1);
  font-size: 12px;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 12px;
  margin-top: 6px;
}

.text-wrapper_5 {
  background-color: rgba(255, 234, 233, 1);
  border-radius: 6px;
  height: 28px;
  width: 45px;
}

.text_20 {
  width: 29px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(223, 54, 54, 1);
  font-size: 14px;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 4px 0 0 8px;
}

.group_9 {
  width: 304px;
  height: 90px;
  margin: 32px 0 0 12px;
}

.text-wrapper_13 {
  width: 57px;
  height: 87px;
  margin-top: 2px;
}

.text_21 {
  width: 29px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(93, 96, 102, 1);
  font-size: 14px;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
}

.text_22 {
  width: 29px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(93, 96, 102, 1);
  font-size: 14px;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 15px;
}

.text_23 {
  width: 57px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(93, 96, 102, 1);
  font-size: 14px;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 15px;
}

.text-group_15 {
  width: 96px;
  height: 90px;
}

.text_24 {
  width: 74px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 16px;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 16px;
  margin-left: 22px;
}

.text_25 {
  width: 58px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 16px;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 16px;
  margin: 12px 0 0 38px;
}

.text_26 {
  width: 96px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 16px;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 16px;
  margin-top: 12px;
}

.block_8 {
  background-color: rgba(244, 248, 255, 1);
  border-radius: 8px;
  width: 304px;
  height: 44px;
  margin: 12px 0 16px 12px;
}

.image-text_12 {
  width: 176px;
  height: 22px;
  margin: 11px 0 0 64px;
}

.text-group_7 {
  width: 148px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 16px;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 16px;
}

.thumbnail_5 {
  width: 20px;
  height: 20px;
  margin-top: 1px;
}

.text-wrapper_14 {
  width: 360px;
  height: 65px;
}

.text_27 {
  width: 73px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(147, 149, 153, 1);
  font-size: 12px;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 12px;
  margin: 24px 0 0 144px;
}

.group_6 {
  background-color: rgba(255, 255, 255, 1);
  width: 360px;
  height: 48px;
  border: 0.5px solid rgba(228, 230, 235, 1);
  margin-top: -1px;
}

.image-text_13 {
  width: 25px;
  height: 42px;
  margin: 3px 0 0 48px;
}

.label_1 {
  width: 24px;
  height: 24px;
  margin-left: 1px;
}

.text-group_8 {
  width: 25px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(171, 174, 178, 1);
  font-size: 12px;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 12px;
  margin-top: 2px;
}

.image-text_14 {
  width: 25px;
  height: 42px;
  margin: 3px 0 0 95px;
}

.label_2 {
  width: 24px;
  height: 24px;
  margin-left: 1px;
}

.text-group_9 {
  width: 25px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(0, 95, 249, 1);
  font-size: 12px;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 12px;
  margin-top: 2px;
}

.image-text_15 {
  width: 25px;
  height: 42px;
  margin: 3px 47px 0 95px;
}

.label_3 {
  width: 24px;
  height: 24px;
  margin-left: 1px;
}

.text-group_10 {
  width: 25px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(171, 174, 178, 1);
  font-size: 12px;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 12px;
  margin-top: 2px;
}

.group_7 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  position: absolute;
  left: 16px;
  top: 85px;
  width: 328px;
  height: 238px;
  justify-content: flex-center;
}

.section_5 {
  width: 304px;
  height: 28px;
  margin: 16px 0 0 12px;
}

.text_28 {
  width: 108px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(147, 149, 153, 1);
  font-size: 12px;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 12px;
  margin-top: 6px;
}

.text-wrapper_8 {
  background-color: rgba(232, 255, 243, 1);
  border-radius: 6px;
  height: 28px;
  width: 59px;
}

.text_29 {
  width: 43px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(46, 218, 125, 1);
  font-size: 14px;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 4px 0 0 8px;
}

.section_6 {
  width: 304px;
  height: 90px;
  margin: 32px 0 0 12px;
}

.text-wrapper_15 {
  width: 57px;
  height: 87px;
  margin-top: 2px;
}

.text_30 {
  width: 29px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(93, 96, 102, 1);
  font-size: 14px;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
}

.text_31 {
  width: 29px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(93, 96, 102, 1);
  font-size: 14px;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 15px;
}

.text_32 {
  width: 57px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(93, 96, 102, 1);
  font-size: 14px;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 15px;
}

.text-group_16 {
  width: 96px;
  height: 90px;
}

.text_33 {
  width: 74px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 16px;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 16px;
  margin-left: 22px;
}

.text_34 {
  width: 58px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 16px;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 16px;
  margin: 12px 0 0 38px;
}

.text_35 {
  width: 96px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 16px;
  letter-spacing: 1px;
  font-family: Noto Sans-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 16px;
  margin-top: 12px;
}

.section_3 {
  background-color: rgba(244, 248, 255, 1);
  border-radius: 8px;
  width: 304px;
  height: 44px;
  margin: 12px 0 16px 12px;
}

.image-text_16 {
  width: 176px;
  height: 22px;
  margin: 11px 0 0 64px;
}

.text-group_12 {
  width: 148px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(30, 30, 30, 1);
  font-size: 16px;
  letter-spacing: 1px;
  font-family: Noto Sans-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 16px;
}

.thumbnail_6 {
  width: 20px;
  height: 20px;
  margin-top: 1px;
}
